<head>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

  <script>
    function getGPS() {
      var wOptions = {
        "enableHighAccuracy": true, // true : 高精度
        "timeout": 10000, // タイムアウト : ミリ秒
        "maximumAge": 0 // データをキャッシュ時間 : ミリ秒
      };
      var id = navigator.geolocation.watchPosition(getGPSsuccess, getGPSFailure, wOptions);

    }

    function getGPSsuccess(pos) {
      var crd = pos.coords;
      var msg = {
        "Latitude": crd.latitude,
        "Longitude": crd.longitude,
        "Altitude": crd.altitude,
        "Accuracy": crd.accuracy,
        "AltitudeAccuracy": crd.altitudeAccuracy,
        "Heading": crd.heading,
        "Speed": crd.speed
      };

      regSocket.send(JSON.stringify(msg))


      document.getElementById("latitude").innerHTML = "latitude:" + crd.latitude + "\n";
      document.getElementById("longitude").innerHTML = "longitude:" + crd.longitude + "\n";
      document.getElementById("altitude").innerHTML = "altitude:" + crd.altitude + "\n"
      document.getElementById("heading").innerHTML = "heading:" + crd.heading + "\n"
    }

    function getGPSFailure(args) {
      console.log("failure");
      console.log(args)
    }

    var loc = window.location,
      new_uri;
    if (loc.protocol === "https:") {
      new_uri = "wss:";
    } else {
      new_uri = "ws:";
    }
    new_uri += "//" + loc.host + "/register_core";
    console.log(new_uri)
    var regSocket = new WebSocket(new_uri)



    getGPS();
  </script>
</head>

<body>
  <p>register where you are</p>
  <p id="latitude">latitude:</p>
  <p id="longitude">longitude:</p>
  <p id="altitude">altitude:</p>
  <p id="heading">heading:</p>
  <a href="./show">access here to see map</a>
</body>
